<div class="title" [style.width]="settingsService.layout.collapsed?'79px':'199px'">
  <img class="log" src="/favicon.ico" />
  <span *ngIf="!settingsService.layout.collapsed">{{settingsService.app.name}}</span>
</div>
<div class="bar">
  <ul>
    <li (click)="toggleCollapsedSidebar()">
      <i nz-icon [type]="settingsService.layout.collapsed?'menu-unfold':'menu-fold'"></i>
    </li>
  </ul>
  <ul style="flex:1"></ul>
  <ul>
    <nz-dropdown [nzPlacement]="'bottomRight'">
      <li nz-dropdown>
        <i nz-icon type="setting"></i>
      </li>
      <ul nz-menu>
        <li nz-menu-item *ngIf="isSuppourtFullscreen" (click)="toggleFullscreen()">
          <i nz-icon type="{{isFullscreen?'fullscreen-exit':'fullscreen'}}"></i> 全屏
        </li>
        <li nz-menu-item (click)="clearLocalStorage()">
          <i nz-icon type="delete"></i> 清理本地缓存
        </li>
      </ul>
    </nz-dropdown>
    <nz-dropdown [nzPlacement]="'bottomRight'">
      <li nz-dropdown>
        <nz-avatar nzIcon="user" nzSize="small" style="background-color:#87d068;"></nz-avatar>
        <span class="user-title">{{settingsService.user.name}}</span>
      </li>
      <ul nz-menu>
        <li nz-menu-item nzDisabled>
          <strong>姓名：</strong>{{settingsService.user.name}}
        </li>
        <li nz-menu-item nzDisabled>
          <strong>角色：</strong>{{settingsService.user.avatar}}
        </li>
        <li nz-menu-item nzDisabled>
          <strong>邮箱：</strong>{{settingsService.user.email}}
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="logout()">注销</li>
      </ul>
    </nz-dropdown>
  </ul>
</div>